<h1>Bienvenido, {{user.full_name}}</h1>
<p>{{user.cart_id}}</p>
<nav>
    {{> menu}}
</nav>
<div class="containerProducts">
    <h1>Productos</h1>
    <div id="listaProductos">
        {{#each productos}}
            <div>
                <h2>{{title}}</h2>
                <p>{{_id}}</p>
                <p>{{description}}</p>
                <p>Precio: ${{price}}</p>
                <p>Categoría: {{category}}</p>
                <a class="button" href="/api/product/{{_id}}">Ver producto</a>
                <form action="/api/carts/:cid/product/{{_id}}" method="post">
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit">Agregar al carrito</button>
                </form>

            </div>
        {{/each}}
    </div>
</div>
<div class="paginas">
        {{#if hasPrevPage}}
            <a href="{{prevLink}}">Anterior</a>
        {{/if}}

        {{#if hasNextPage}}
            <a href="{{nextLink}}">Siguiente</a>
        {{/if}}

    <p>Página {{page}} de {{totalPages}}</p>
</div>