<div class="purchase-container">
    <h1>Confirmaci贸n de Compra</h1>

    {{#if ticket}}
        <h2>Ticket</h2>
        <div class="purchase-details">
            <p><strong>C贸digo:</strong> {{ticket.code}}</p>
            <p><strong>Fecha:</strong> {{ticket.purchase_datetime}}</p>
            <p><strong>Total:</strong> ${{ticket.amount}}</p>
            <h3>Productos comprados:</h3>
            <ul>
                {{#each ticket.products}}
                    <li>
                        <p><strong>Producto:</strong> {{this.product}} - <strong>Cantidad:</strong> {{this.quantity}}</p>
                    </li>
                {{/each}}
            </ul>
        </div>
    {{else}}
        <p>No se gener贸 un ticket.</p>
    {{/if}}

    <h3>Productos sin stock:</h3>
    <ul>
        {{#each unavailableProducts}}
            <li>
                <p><strong>Producto:</strong> {{this.product}} - <strong>Cantidad:</strong> {{this.quantity}}</p>
            </li>
        {{/each}}
    </ul>

    <p class="message">{{message}}</p>
    
    <!-- Bot贸n para continuar con la compra o regresar -->
    <a href="/api/product" class="button-link">Volver al inicio</a>
</div>